{
  "env": {
    "test": {
      "plugins": [ "istanbul" ]
    }
  },
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "modules": "commonjs"
      }
    ]
  ],
  "plugins": [
    "babel-plugin-add-module-exports", 
    "@babel/plugin-transform-object-assign",
    "@babel/plugin-transform-react-jsx"
  ]
}