{
  "extends": "airbnb-base",

  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },

  "globals": {
    "document": false,
    "escape": false,
    "navigator": false,
    "unescape": false,
    "window": false,
    "describe": true,
    "before": true,
    "beforeEach": true,
    "after": true,
    "afterEach": true,
    "it": true,
    "expect": true,
    "sinon": true
  },

  "parser": "babel-eslint",

  "plugins": [
    
  ],

  "rules": {
    "prefer-destructuring": 0,
    "import/no-extraneous-dependencies": [
      "error", {
        "devDependencies": true
      }
    ]
  }
}
